{% extends 'base.twig' %}


{% block content %}
<section class="column">
    <div class="header">
        <h2>Setups</h2>
        <div class="menu" >
            <a id="addSetup" ><img width="25" src="/img/icon/Black_New-Page.png" alt="add setup" /></a>
            <a id="refreshSetups" ><img width="25" src="/img/icon/Black_Pie-Circle.png" alt="refresh list" /></a>
        </div>
    </div>
    <ul id="setupList" >
        {% for setup in setups %}
            {% include 'setup/setup.twig' with {'setup': setup} %}
        {% endfor %}
    </ul>
</section>
<div id="dialog"></div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function(){

    // initiate dashboard
    var dashboard = new dashboardHelper;
    dashboard.init($('#setupList'), $('#addSetup'));

    addFitDetailhover()
})
</script>
{% endblock %}