{% extends 'base.twig' %}


{% block content %}

<section class="column">
    <div class="header">
        <h2>Setups</h2>
        <div class="menu" >
            <a id="addSetup" ><img width="25" src="/img/icon/Black_New-Page.png" alt="add setup" /></a>
            <a id="refreshSetups" ><img width="25" src="/img/icon/Black_Pie-Circle.png" alt="refresh list" /></a>
        </div>
    </div>
    <ul id="setupList" >
        {% for setup in setups %}
            {% include 'setup/setup.twig' with {'setup': setup} %}
        {% endfor %}
    </ul>
</section>
<style>
.menu a
{
    cursor: pointer;
}
.column .header
{
    border-bottom: solid 3px #aaa;
    margin-bottom: 4px;
    height: 2em;
}
.column h2
{
    display: inline-block;
}
.column .menu
{
    vertical-align: top;;
    float: right;
    display: block;
    padding-right: 5px;
    padding-top: 3px;
}

.column h3
{
    padding: 5px;
    padding-left: 2px;
    color: #1c94c4;
}

.column .setup h3
{
    display: inline-block;
}

.setup
{
    display: inline-block;
    background-color: #eee;
    margin: 5px;
    vertical-align: top;
    width: 32%;
    max-width: 400px;
    min-width: 250px;
}

.sortable
{
    padding:5px;
    margin: 5px;
    border: solid 2px #1c94c4;
    background-color: white;
    min-height: 1em;
}
.sortable li.fit
{
    border-bottom: solid 1px grey;
    padding: 2px;
    font-size: 0.8em;
}

section.column {
    background: #ccc;
}
ul.warning {
    background-color: #ffff99;
}
.fit.error {
    background-color: #faa;
}
div.detail {
    position: absolute;
    border: solid 1px #333333;
    background-color: #eee;
    margin-left: 200px;

}
ul.detailFit
{
    padding-left: 10px;
}
ul.detailFit li
{
    padding: 2px;
}
</style>
<script>
$(document).ready(function(){

    addFitDetailhover = function ()
    {
        $('li.fit').hover(function(){
            $('div.detail',this).show();
        },function(){
            $('div.detail',this).hide();
        })
    }

    var setupHelper = function(setupDiv)
    {
        this.id = $(setupDiv).attr('id');
        this.selfEl = setupDiv;
        this.name = $('.setupName',setupDiv).text();
        this.self = this;
        this.fitListEl = null;
        this.dialogEl = $("<div></div>");
        this.deleteDialog = $('<div id="dialog-confirm" title="Delete Setup?"><p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will permanently remove "'+this.name+'". Are you sure?</p></div>');

        this.refreshUrl = $('.refreshSetup', $('#'+this.id)).attr('href');

        this.init = function ()
        {
            var self = this;
            var selfEl = $('#'+this.id);
            $('.refreshSetup', selfEl).off('click');
            $('.refreshSetup', selfEl).click(function() { self.refresh(self); return false; });


            $('.deleteSetup', selfEl).off('click');
            $('.deleteSetup', selfEl).click(function(){
                var url = this.href;

                self.deleteDialog.dialog({
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Delete Setup": function() {
                            $.get(url);
                            $('#'+self.id).remove();
                            $( this ).dialog( "close" );
                        },
                        Cancel: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });

                return false;
            });

            $('.addFit', selfEl).off('click');
            $('.addFit', selfEl).click(function(){
                var url = this.href;
                $.get(
                        url,
                        function (htmlForm) {
                            self.dialogEl
                                    .html(htmlForm)
                                    .dialog({
                                        autoOpen: true,
                                        title: 'Add new fit',
                                        width: 500,
                                        height: 300,
                                        buttons: [
                                            { text: "Add new fit", click: function () { self.addNewFit(self) } },
                                            { text: "Close", click: function() { self.dialogClose(self) } }
                                        ]
                                    });
                            return false;
                        });
                return false;
            });


//
//            this.dialogEl.self = this;
//
//            $(this.addButtonEl).click(function(){ self.dialogEl.dialog("open") });
//
//            $('#refreshFits').click(function()
//            {
//
//            });
        }

        this.dialogClose = function(self)
        {
            self.dialogEl.dialog("close");
        }

        this.addNewFit = function (self)
        {
            $('#addFit_form').ajaxForm(function() {
                self.refresh(self);
                self.dialogClose(self);
            }).submit();
        }

        this.refresh = function (self)
        {
            $.get(
                    self.refreshUrl,
                    function(data)
                    {
                        $(self.selfEl).replaceWith(data);
                        self.init();
                        addFitDetailhover()
                    }
            );
        }
    }

    var dashboardHelper = function(){

        this.self = this;
        this.setupListEl = null,
        this.addButtonEl = null,
        this.dialogEl = $("<div></div>"),

        this.setups = [];

        this.init = function (setupListEl,addButtonEl)
        {
            var self = this;
            this.setupListEl = setupListEl;
            this.addButtonEl = addButtonEl;


            this.dialogEl
                    .load('/index.php/setup/addDialog')
                    .dialog({
                        autoOpen: false,
                        title: 'Add new setup',
                        width: 500,
                        height: 300,
                        buttons: [
                            { text: "Add new setup", click: function () { self.addNewSetup(self) } },
                            { text: "Close", click: function() { self.dialogClose(self) } }
                        ]
                    });

            this.dialogEl.self = this;

            $(this.addButtonEl).click(function(){self.dialogEl.dialog("open")});

            $('#refreshSetups').click(function(){self.refreshSetups(self)});
        }

        this.dialogClose = function(self)
        {
            self.dialogEl.dialog("close");
        }

        this.addNewSetup = function (self)
        {
            $('#setupAdd_form').ajaxForm(function() {
                self.refreshSetups(self);
                self.dialogClose(self);

            }).submit();
        }

        this.refreshSetups = function (self)
        {
            $.get(
                    'index.php/setup/list',
                    function(data)
                    {
                        $("#setupList").html(data);
                        addFitDetailhover()
                    }
            );
        }


        this.addSetup = function (setup)
        {
            this.setups.push(setup);
        }
    }



    var dashboard = new dashboardHelper;
    dashboard.init($('#setupList'), $('#addSetup'));


    $('#setupList .setup').each(function(){
        var setup = new setupHelper(this);
        setup.init();
        dashboard.addSetup(setup);
    })


    window.dashboard = dashboard;
    addFitDetailhover()
})
</script>


<div id="dialog"></div>
{% endblock %}