{% extends 'base.twig' %}


{% block content %}
{% if not user.isLoggedin() %}

    <div class="notification error general" >
        <b>You need to be logged in to use this application</b>
    </div>
{% else %}
<section class="main" id="dashboard">
    <div class="header">
        <h2>Setups</h2>
        <div class="menu" >
            <a id="quickAddSetup" href="/index.php/setup/quickAddDialog" >Quick add</a>
            <a id="addSetup" ><img width="25" src="/img/icon/Black_New-Page.png" alt="add setup" /></a>
            <a id="refreshSetups" ><img width="25" src="/img/icon/Black_Pie-Circle.png" alt="refresh list" /></a>
        </div>
    </div>
    <ul id="setupList" >
        {% for setup in setups %}
            {% include 'setup/setup.twig' with {'setup': setup, 'tournament': tournament} %}
        {% endfor %}
    </ul>
</section>
<div id="dialog"></div>
{% endif %}
{% endblock %}


{% block script %}
<script>
$(document).ready(function(){

    // initiate dashboard
    var dashboard = new dashboardHelper;
    dashboard.init($('#setupList'), $('#addSetup'));

    addFitDetailhover()
})
</script>
{% endblock %}