<section>
    <form id="setupAdd_form" method="POST" action="/index.php/setup/add">
        <p>
            <label>Name:</label><br/>
            <input class="text ui-widget-content ui-corner-all" type="text" name="name" /><span class="errorMessage username"></span></p>
        <p>
            <label>Description:</label><br/>
            <textarea class="text ui-widget-content ui-corner-all" name="description"></textarea>
        </p>
    </form>
</section>