<section>
    <form id="addFit_form" method="POST" action="/index.php/setup/{{ setupId }}/fit/add">
        <p><label>EFT format fit:</label><br/>
            <textarea rows="10" class="text ui-widget-content ui-corner-all" name="fit"></textarea>
        <p><label>Description:</label><br/>
            <textarea class="text ui-widget-content ui-corner-all" name="description"></textarea>
        <p><label>Quantity:</label><input class="number ui-widget-content ui-corner-all" type="number" name="quantity" size="1" value="1" /></p>
    </form>
</section>
